<div class="list-wrapper">
    
    <div class="listContainer">
        <ng-container *ngIf="releaseItems | async as releaseItemsFromContainer">
            <div class="item1" [@mostPopReleaseAnim]="releaseItemsFromContainer.length">
                <div class="cardElement-most-pop" *ngFor="let releaseItem of releaseItemsFromContainer | reverse | slice:0:4; let i=index">
                    <most-pop-release-thumbnail [releaseItem]="releaseItem"></most-pop-release-thumbnail>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="podcastItems | async as podcastItemsFromContainer">
            <div class="item2" [@mostPopPodcastAnim]="podcastItemsFromContainer.length">
                <div class="cardElement-most-pop" *ngFor="let podcastItem of podcastItemsFromContainer | reverse | slice:0:4; let i=index">
                    <most-pop-podcast-thumbnail [podcastItem]="podcastItem"></most-pop-podcast-thumbnail>
                </div>
            </div>
        </ng-container>
    </div>

</div>