.most-pop-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem 5rem 2rem;
}

@media (max-width: 1110px) {
    .most-pop-wrapper {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.cardElement {
    flex-basis: 24%;
    box-shadow: 0 0.1rem 0.6rem 0 hsla(0, 0%, 0%, 0.3);
    text-align: center;
    background-color: white;
    transition: background-color 0.2s ease;
}

@media (max-width: 1110px) {
    .cardElement {
        flex-basis: 47%;
        margin: 1rem 1rem 5rem 1rem;
    }
}

@media (max-width: 801px) {
    .cardElement {
        flex-basis: 100%;
        margin-bottom: 1rem;
    }
}

.cardElement:hover {
    background-color: #0193b728;
    cursor: pointer;
}