<div class="list-wrapper">
    
    <div class="listContainer">
        <div class="item1" [@mostPopReleaseAnim]="releaseItems.length" *ngIf="releaseItems.length > 0">
            <div class="cardElement-most-pop" *ngFor="let releaseItem of releaseItems">
                <most-pop-release-thumbnail [releaseItem]="releaseItem"></most-pop-release-thumbnail>
            </div>
        </div>
        <div class="item2" [@mostPopPodcastAnim]="podcastItems.length">
            <div class="cardElement-most-pop" *ngFor="let podcastItem of podcastItems">
                <most-pop-podcast-thumbnail [podcastItem]="podcastItem"></most-pop-podcast-thumbnail>
            </div>
        </div>
    </div>

</div>