.most-pop-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
}

@media (max-width: 1110px) {
    .most-pop-wrapper {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.cardElement {
    flex-basis: 24%;
    box-shadow: 0 5px 6px 0 hsla(0, 0%, 0%, 0.3);
    text-align: center;
    background-color: white;
    transition: background-color 0.2s ease;
    /*margin-left: 10px;
    margin-right: 10px;*/
}

@media (max-width: 1110px) {
    .cardElement {
        flex-basis: 47%;
        margin: 10px;
    }
}

@media (max-width: 801px) {
    .cardElement {
        flex-basis: 100%;
        margin-bottom: 10px;
    }
}

.cardElement:hover {
    background-color: #0193b728;
    cursor: pointer;
}

.releaseDetails {
    text-align: left !important;
    padding: 10px;
}

.cardHeader {
    margin-top: 0 !important;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    font-weight: 500;
    background-color: #0193b7;
}

.title {
    margin-top: 1px;
    margin-bottom: 1px;
    color: rgb(65, 65, 65);
    font-weight: 800;
}

.catNo {
    margin-bottom: 1px;
    color: rgb(65, 65, 65);
}

.artistName {
    color: rgb(121, 121, 121);
    margin-bottom: 0;
    margin-top: 0;
}

.artwork {
    width: 100%;
    display: block;
}