.most-pop-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px 50px 20px;
}

@media (max-width: 1110px) {
    .most-pop-wrapper {
        padding: 0;
    }
}

.cardElement {
    flex-basis: 24%;
    box-shadow: 0 1px 6px 0 hsla(0, 0%, 0%, 0.3);
    text-align: center;
    background-color: white;
    transition: background-color 0.2s ease;
    /*margin-left: 10px;
    margin-right: 10px;*/
}

@media (max-width: 1110px) {
    .cardElement {
        flex-basis: 47%;
        margin: 10px;
    }
}

@media (max-width: 801px) {
    .cardElement {
        flex-basis: 100%;
        margin-bottom: 10px;
    }
}

.cardElement:hover {
    background-color: #0193b728;
    cursor: pointer;
}