<div class="list-wrapper">
    
    <div class="listContainer">
        <div class="item1" [@mostPopReleaseAnim]="releaseItems.length">
            <div class="cardElement-most-pop" *ngFor="let releaseItem of releaseItems | reverse | slice:0:2; let i=index">
                <most-pop-release-thumbnail [releaseItem]="releaseItem"></most-pop-release-thumbnail>
            </div>
        </div>    
        <div class="item2" [@mostPopPodcastAnim]="podcastItems.length">
            <div class="cardElement-most-pop" *ngFor="let podcastItem of podcastItems | reverse | slice:0:2; let i=index">
                <most-pop-podcast-thumbnail [podcastItem]="podcastItem"></most-pop-podcast-thumbnail>
            </div>
        </div>        
    </div>

</div>