<div class="pageContent">
    <div class="pageSpan-whiteBG">
        <div class="pageElement">
            <div class="wrapper">
                <div class="image">
                    <img class="artwork" src="assets/images/artwork/gta019.jpg">
                </div>
                <div class="text">
                    <h3>GTA018 What Have We Become</h3>
                    <p class="releaseDate">Released 31 August 2018</p>
                    <p>This release has had a great response from the promo's that were sent out, with support coming from:</p>

                    <p>Dax J (Monnom Black), Spartaque, Patrick DSP, Jon Connor, Ian Void, DJ Ze Mig L, Dr Motte, Luigi Madonna, Tony Verdi, Gemma Furbank, A Morgan (Rhythm Theory), Africa Islam, Clarkee (Area 51), DJ K.N (Mass United), DJ Warp (Japan) / Takashi Watanabe, Danny Slade (Zone Magazine/Herald Radio), Frank Bauduin, Gavin Quiet (Dark Knights), Gerard Russchenberg (House Of Fun), Hidden Reflection, Jon E Thin Bremmar, Josh Moseley (Chicago Jaxxx), Kereni (Forte), Kerstin Eden (Electric Eden), Louk/Hidden Identity, Mark Greene, Matteo (Different Grooves), NX1, Newks, Nori (Posivision), Vincent De Wit, Wayne DJC (Beyond Control), Zuni (Tribal Waves)</p>
                        
                    <p>Tracks 1, 4 & 5 Written by Gary Hutchin<br>
                    Tracks 2 & 3 Written by Gary Hutchin & Vincent de Wit<br>
                    Track 6 Written by Gary Hutchin & Nicola Scarano<br>
                    Mastered by Steve Loss - Black Monolith Studio<br>
                    Artwork by Gary Hutchin</p>
                    <mat-advanced-audio-player [playlist]="msaapPlaylist" [displayTitle]="msaapDisplayTitle" 
                    [displayPlaylist]="msaapDisplayPlayList" [pageSizeOptions]="msaapPageSizeOptions" 
                    [displayVolumeControls]="msaapDisplayVolumeControls" [expanded]="true"></mat-advanced-audio-player> 
                </div>
            </div>
        </div>
    </div>
</div>