.releaseDetailsWrapper {
    max-width: 144rem;
    margin: 12rem auto 0.5rem auto;
}

@media (max-width: 800px) {
    .releaseDetailsWrapper {
        margin: 10rem auto 10rem auto;
    }
}

.releaseDetailsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    background-color: white;
    box-shadow: 0 1px 6px 0 hsla(0, 0%, 0%, 0.3);
    margin: 0 2rem 3rem 2rem;
    border-radius: 0.5rem;
}

@media (max-width: 1356px) {
    .releaseDetailsContainer {
        flex-direction: column;
    }
}

.image {
    flex-basis: 30%;
}

@media (max-width: 1356px) {
    .image {
        flex-basis: 100%;
    }
}

.text {
    flex-basis: 60%;
    margin-left: 2rem;
    position: relative;
}

@media (max-width: 1356px) {
    .text {
        position: unset;
        margin: auto 2rem 2rem 2rem;

    }
}

.artwork {
    width: 500px;
    display: block;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    position: relative;
}

@media (max-width: 1356px) {
    .artwork {
        margin: 4rem auto 4rem auto;
        border-radius: 0.5rem;
    }
}

@media (max-width: 800px) {
    .artwork {
        width: 100%;
        margin: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

p {
    margin: 10px;
    letter-spacing: 0.05rem;
    font-size: 1.4rem;
}

h3 {
    margin: 10px;
    font-size: 1.8rem;
}

.releaseDate {
    color: rgb(121, 121, 121);
}

.player {
    position: absolute;
    bottom: 1.5rem;
    left: 0px;
    width: 100%;
    margin: 0 0 1rem 1rem;
}

@media (max-width: 1356px) {
    .player {
        position: unset;
        bottom: unset;
        left: 0rem;
        width: 90%;
    }
}

.discount-code {
    background-color: #b72501;
    color: white;
    font-weight: 600;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    width: 20rem;
}