<div class="page-not-found-wrapper">
    <div class="pageElement">
        <h3 class="notFound">Oops!</h3>
        <p>We can't seem to find the page your're looking for.</p>
        <p>Error code: 404</p>
        <p>Here are some helpful links instead:</p>
            <p>
                <a [routerLink]="['/home']">Home</a><br>
                <a [routerLink]="['/#']">About</a><br>
                <a [routerLink]="['/music']">Music</a><br>
                <a href="/#">Merch</a><br>
                <a href="/#">Contact</a>
            </p>
    </div>
</div>
