<div class="wrapper">
    <div class="firstSix">
        <div class="releaseListContainer">

            <div class="releaseCardElement" (click)="goToGTA19()">
                <img class="artwork" src="./assets/images/card-images/gta019.jpg">
                <h3 class="cardHeader">Unix EP</h3>
                <div class="releaseDetails">
                    <p class="catNo">[GTA019]</p>
                    <h3 class="title">Unix EP</h3>
                    <p class="artistName">Gary The Apprentice - feat DJ Ze MigL</p>
                </div>
            </div>

            <div class="releaseCardElement" (click)="goToGTA18()">
                <img class="artwork" src="./assets/images/card-images/gta018.jpg">
                <h3 class="cardHeader">What Have We Become</h3>
                <div class="releaseDetails">
                    <p class="catNo">[GTA018]</p>
                    <h3 class="title">What Have We Become</h3>
                    <p class="artistName">Gary The Apprentice - feat Vincent de With &amp; Car-D</p>
                </div>
            </div>

            <div class="releaseCardElement">
                <img class="artwork" src="./assets/images/card-images/gta017.jpg">
                <h3 class="cardHeader">Longitudinal Axis EP</h3>
                <div class="releaseDetails">
                    <p class="catNo">[GTA018]</p>
                    <h3 class="title">Longitudinal Axis EP</h3>
                    <p class="artistName">Twistedbrain74</p>
                </div>
            </div>

            <div class="releaseCardElement">
                <img class="artwork" src="./assets/images/card-images/gta017.jpg">
                <h3 class="cardHeader">Longitudinal Axis EP</h3>
                <div class="releaseDetails">
                    <p class="catNo">[GTA018]</p>
                    <h3 class="title">Longitudinal Axis EP</h3>
                    <p class="artistName">Twistedbrain74</p>
                </div>
            </div>

            <div class="releaseCardElement">
                <img class="artwork" src="./assets/images/card-images/gta016.jpg">
                <h3 class="cardHeader">Of Little Significance</h3>
                <div class="releaseDetails">
                    <p class="catNo">[GTA016]</p>
                    <h3 class="title">Of Little Significance</h3>
                    <p class="artistName">Gary The Apprentice</p>
                </div>
            </div>

            <div class="releaseCardElement">
                <img class="artwork" src="./assets/images/card-images/gta015.jpg">
                <h3 class="cardHeader">A New Dimension</h3>
                <div class="releaseDetails">
                    <p class="catNo">[GTA015]</p>
                    <h3 class="title">A New Dimension</h3>
                    <p class="artistName">Gary The Apprentice</p>
                </div>
            </div>
        </div>
    </div> <!--First Six Ends Here-->

    <div class="collapsedReleases" @fadeIn *ngIf="!isCollapsed">

        <div class="releaseListContainer">

            <div class="releaseCardElement">
                <img class="artwork" src="./assets/images/card-images/gta014.jpg">
                <h3 class="cardHeader">Back In The Burgh EP</h3>
                <div class="releaseDetails">
                    <p class="catNo">[GTA014]</p>
                    <h3 class="title">Back In The Burgh EP</h3>
                    <p class="artistName">Gary The Apprentice</p>
                </div>
            </div>

            <div class="releaseCardElement">
                <img class="artwork" src="./assets/images/card-images/gta013.jpg">
                <h3 class="cardHeader">Mindfullness EP</h3>
                <div class="releaseDetails">
                    <p class="catNo">[GTA013]</p>
                    <h3 class="title">Mindfullness EP</h3>
                    <p class="artistName">Gary The Apprentice</p>
                </div>
            </div>

            <div class="releaseCardElement">
                <img class="artwork" src="./assets/images/card-images/gta012.jpg">
                <h3 class="cardHeader">Roffa EP</h3>
                <div class="releaseDetails">
                    <p class="catNo">[GTA012]</p>
                    <h3 class="title">Roffa EP</h3>
                    <p class="artistName">Gary The Apprentice</p>
                </div>
            </div>

            <div class="releaseCardElement">
                <img class="artwork" src="./assets/images/card-images/gta011.jpg">
                <h3 class="cardHeader">Abstrakt Riddims EP</h3>
                <div class="releaseDetails">
                    <p class="catNo">[GTA011]</p>
                    <h3 class="title">Abstrakt Riddims EP</h3>
                    <p class="artistName">Gary The Apprentice</p>
                </div>
            </div>

            <div class="releaseCardElement">
                <img class="artwork" src="./assets/images/card-images/gta010.jpg">
                <h3 class="cardHeader">The Next Chapter EP</h3>
                <div class="releaseDetails">
                    <p class="catNo">[GTA010]</p>
                    <h3 class="title">The Next Chapter EP</h3>
                    <p class="artistName">Gary The Apprentice</p>
                </div>
            </div>

            <div class="releaseCardElement">
                <img class="artwork" src="./assets/images/card-images/gta009.jpg">
                <h3 class="cardHeader">Open Box EP</h3>
                <div class="releaseDetails">
                    <p class="catNo">[GTA009]</p>
                    <h3 class="title">A New Dimension</h3>
                    <p class="artistName">Krowne</p>
                </div>
            </div>

            <div class="releaseCardElement">
                <img class="artwork" src="./assets/images/card-images/gta008.jpg">
                <h3 class="cardHeader">Mornaaan! EP</h3>
                <div class="releaseDetails">
                    <p class="catNo">[GTA008]</p>
                    <h3 class="title">Mornaaan! EP</h3>
                    <p class="artistName">Gary The Apprentice</p>
                </div>
            </div>    

            <div class="releaseCardElement">
                <img class="artwork" src="./assets/images/card-images/gta007.jpg">
                <h3 class="cardHeader">Mind Warp EP</h3>
                <div class="releaseDetails">
                    <p class="catNo">[GTA007]</p>
                    <h3 class="title">Mind Warp EP</h3>
                    <p class="artistName">Gary The Apprentice</p>
                </div>
            </div>

            <div class="releaseCardElement">
                <img class="artwork" src="./assets/images/card-images/gta006.jpg">
                <h3 class="cardHeader">Organised Kaos EP</h3>
                <div class="releaseDetails">
                    <p class="catNo">[GTA006]</p>
                    <h3 class="title">Organised Kaos EP</h3>
                    <p class="artistName">Gary The Apprentice</p>
                </div>
            </div>

            <div class="releaseCardElement">
                <img class="artwork" src="./assets/images/card-images/gta005.jpg">
                <h3 class="cardHeader">Mechanical Lifeforms EP</h3>
                <div class="releaseDetails">
                    <p class="catNo">[GTA005]</p>
                    <h3 class="title">Mechanical Lifeforms EP</h3>
                    <p class="artistName">Gary The Apprentice</p>
                </div>
            </div>

            <div class="releaseCardElement">
                <img class="artwork" src="./assets/images/card-images/gta004.jpg">
                <h3 class="cardHeader">The Dunny Collection</h3>
                <div class="releaseDetails">
                    <p class="catNo">[GTA004]</p>
                    <h3 class="title">The Dunny Collection</h3>
                    <p class="artistName">Gary The Apprentice</p>
                </div>
            </div>

            <div class="releaseCardElement">
                <img class="artwork" src="./assets/images/card-images/gta003.jpg">
                <h3 class="cardHeader">Timespace EP</h3>
                <div class="releaseDetails">
                    <p class="catNo">[GTA003]</p>
                    <h3 class="title">Timespace EP</h3>
                    <p class="artistName">Gary The Apprentice</p>
                </div>
            </div>

            <div class="releaseCardElement">
                <img class="artwork" src="./assets/images/card-images/gta002.jpg">
                <h3 class="cardHeader">The Brass Continent</h3>
                <div class="releaseDetails">
                    <p class="catNo">[GTA002]</p>
                    <h3 class="title">The Brass Continent</h3>
                    <p class="artistName">Jamie Ball</p>
                </div>
            </div>

            <div class="releaseCardElement">
                <img class="artwork" src="./assets/images/card-images/gta001.jpg">
                <h3 class="cardHeader">Recharged EP</h3>
                <div class="releaseDetails">
                    <p class="catNo">[GTA001]</p>
                    <h3 class="title">Recharged EP</h3>
                    <p class="artistName">Gary The Apprentice</p>
                </div>
            </div>

        </div>
    </div>
    <span class="expandElementBtn"><button type="button" class="viewAllReleases-button" (click)="toggleCollapse()">{{btnDefaultStatus}}</button></span>
</div>

