<div class="pageHeroWrapper">
    <div class="heroContainer">
        <div class="heroText">
            <h1>About GTA Digital</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis amet molestias quas sed asperiores, hic eaque consequuntur quod vero nobis accusamus quos dolor consectetur, autem dolores tempore expedita harum odit!</p>
        </div>
        <div class="heroLogo">
            <img src="../../assets/images/medium-images/aboutMe-header.jpg" alt="Gary The Apprentice">
        </div>
    </div>
</div>

<div class="componentContainer">
    <div class="componentContent">
        <div class="pageText">
        <p>Text about GTA Digital</p>
        </div>
    </div>
</div>