<div class="pageHeroWrapper">
    <div class="heroContainer" @heroAnim>
        <div class="heroText">
            <h1 [innerHTML]="aboutContent.heroHeader"></h1>
            <p [innerHTML]="aboutContent.heroText"></p>
        </div>
        <div class="heroLogo">
            <img [src]="aboutContent.heroImage" alt="GTA Digital Logo">
        </div>
    </div>
</div>

<div class="componentContainer">

    <most-popular></most-popular>

    <div class="componentContent">
        <div class="textBox" @aboutAnim>
            <div class="textBox-text">
                <p [innerHTML]="aboutContent.aboutText"></p>
            </div>
            <div class="textBox-image">
                <img [src]="aboutContent.aboutImage" alt="Gary The Apprentice" style="box-shadow: 0 5px 6px 0 hsla(0, 0%, 0%, 0.3);">
            </div>
        </div>
    </div>
</div>