<div class="pageHeroWrapper">
    <div class="heroContainer">
        <div class="heroText">
            <h1>GTA Digital</h1>
            <p>Label, podcast series &amp; radio show.<br>
            Releasing underground techno since 2013...</p>
        </div>
        <div class="heroLogo">
            <img src="../../assets/images/logo.png" alt="GTA Digital Logo">
        </div>
    </div>
</div>

<div class="componentContainer">

    <most-popular></most-popular>

    <div class="componentContent">
        <div class="aboutSection">
            <div class="pageText">
                <p>GTA Digital is a net label and Podcast series, set up by Gary The Apprentice, to provide the world with proper, underground Techno, staying clear of the more popular sound that is being churned out by bigger labels</p>

                <p>Here at GTA Digital, we are wanting to keep things real, releasing proper Techno, by proper Techno heads. We are always on the look out for new artists to get involved, so if you like what we're doing, and feel your music fits, please get in touch with a demo for us to consider releasing on the label.</p>
                        
                <p>This page will be used as our main platform for all of the Podcast's on the GTA Digital Podcast Series, if you would like to get involved, and provide a mix for the Podcast, please do get in touch.</p>
                        
                <p>To check out our full back catalogue of releases, to get information on the artists involved, and to check out the merchandise we have on sale</p>
            </div>
            <div class="photo">
                <img src="../../assets/images/medium-images/aboutMe-header.jpg" alt="Gary The Apprentice" style="box-shadow: 0 5px 6px 0 hsla(0, 0%, 0%, 0.3);">
            </div>
        </div>
    </div>
</div>