<div class="podcastDetailsWrapper">
    <div class="podcastDetailsContainer">
        <div class="image">
            <img class="artwork" [src]="podcast.artwork">
        </div>
        <div class="text">
            <h3>{{podcast.catNo}} {{podcast.title}}</h3>
            <p>Mixed by {{podcast.artistName}}</p>
            <p class="releaseDate">Released: {{podcast.releaseDate}}</p>
            <p>{{podcast.releaseInfoP1}}</p>
            <p *ngIf="podcast?.releaseInfoP2">{{podcast.releaseInfoP2}}<br>{{podcast.releaseInfoP3}}<br>{{podcast.releaseInfoP4}}<br>{{podcast.releaseInfoP5}}</p>
            <p>Tracks by the likes of: {{podcast.tracksBy}}</p>
            <span class="tracklist-open-button" (click)="OpenModal()">Track List</span>
            <span class="player" [innerHTML]="podcast.player | noSanitize"></span>
        </div>
    </div>
</div>

<div class="tracklist-wrapper" (click)="OpenModal()" *ngIf="!isClosed">
    <div class="tracklist-content" @tracklistAnim>
        <ul>
            <li [innerHTML]="podcast.track1"></li>
            <li [innerHTML]="podcast.track2"></li>
            <li [innerHTML]="podcast.track3"></li>
            <li [innerHTML]="podcast.track4"></li>
            <li [innerHTML]="podcast.track5"></li>
            <li [innerHTML]="podcast.track6"></li>
            <li [innerHTML]="podcast.track7"></li>
            <li [innerHTML]="podcast.track8"></li>
            <li [innerHTML]="podcast.track9"></li>
            <li [innerHTML]="podcast.track10"></li>
            <li [innerHTML]="podcast.track11"></li>
            <li [innerHTML]="podcast.track12"></li>
            <li [innerHTML]="podcast.track13"></li>
            <li [innerHTML]="podcast.track14"></li>
            <li [innerHTML]="podcast.track15"></li>
            <li [innerHTML]="podcast.track16"></li>
            <li [innerHTML]="podcast.track17"></li>
            <li [innerHTML]="podcast.track18"></li>
            <li [innerHTML]="podcast.track19"></li>
            <li [innerHTML]="podcast.track20"></li>
            <li [innerHTML]="podcast.track21"></li>
            <li [innerHTML]="podcast.track22"></li>
            <li [innerHTML]="podcast.track23"></li>
            <li [innerHTML]="podcast.track24"></li>
            <li [innerHTML]="podcast.track25"></li>
            <li [innerHTML]="podcast.track26"></li>
            <li [innerHTML]="podcast.track27"></li>
            <li [innerHTML]="podcast.track28"></li>
            <li [innerHTML]="podcast.track29"></li>
            <li [innerHTML]="podcast.track30"></li>
            <li [innerHTML]="podcast.track31"></li>
            <li [innerHTML]="podcast.track32"></li>
            <li [innerHTML]="podcast.track33"></li>
            <li [innerHTML]="podcast.track34"></li>
            <li [innerHTML]="podcast.track35"></li>
            <li [innerHTML]="podcast.track36"></li>
            <li [innerHTML]="podcast.track37"></li>
            <li [innerHTML]="podcast.track38"></li>
            <li [innerHTML]="podcast.track39"></li>
            <li [innerHTML]="podcast.track40"></li>
            <li [innerHTML]="podcast.track41"></li>
            <li [innerHTML]="podcast.track42"></li>
            <li [innerHTML]="podcast.track43"></li>
            <li [innerHTML]="podcast.track44"></li>
            <li [innerHTML]="podcast.track45"></li>
        </ul>
        <span class="tracklist-close-button" (click)="OpenModal()">Close</span>
    </div>
</div>

<div class="youMayLike">
    <you-may-like></you-may-like>
</div>