.list-wrapper {
    max-width: 100%;
    background-color: rgb(240, 240, 240) !important;
    padding: 1rem 0.25% 4rem 2rem;
}

@media (max-width: 1110px) {
    .list-wrapper {
        padding: 0px 0 10px 0;
    }
}

@media (max-width: 801px) {
    .list-wrapper {
        overflow-x: scroll !important;
        max-width: unset !important;
        min-height: 210px;
    }
}

@media (max-width: 801px) {
    .list-wrapper::-webkit-scrollbar {
        width: 0rem !important;
    }
    .list-wrapper::-webkit-scrollbar-track {
        background-color: unset;
      }
      
    .list-wrapper::-webkit-scrollbar-thumb {
        background-color: unset;
      }
}

.listContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

@media (max-width: 1110px) {
    .listContainer {
        justify-content: space-between;
    }
}

@media (max-width: 801px) {
    .listContainer {
        flex-wrap: nowrap !important;
        min-width: 144rem;
    }
}

.cardElement {
    flex-basis: 24%;
    box-shadow: 0 5px 6px 0 hsla(0, 0%, 0%, 0.3);
    text-align: center;
    background-color: white;
    transition: background-color 0.2s ease;
    margin: 0 1% 1% 0;
    border-radius: 5px;
}

.cardElement:hover {
    background-color: #0193b728;
    cursor: pointer;
}

@media (max-width: 1110px) {
    .cardElement {
        flex-basis: 47%;
        margin: 10px;
    }
}

@media (max-width: 801px) {
    .cardElement {
        flex-basis: unset;
        margin-bottom: 10px;
        min-width: 34rem;
    }
}

.news-cardElement {
    flex-basis: 24%;
    box-shadow: 2px 4px 10px hsla(0, 0%, 0%, 0.3);
    text-align: center;
    background-color: white;
    margin: 0 1% 1% 0;
    border-radius: 5px;
}

@media (max-width: 1110px) {
    .news-cardElement {
        flex-basis: 47%;
        margin: 10px;
    }
}

@media (max-width: 801px) {
    .news-cardElement {
        flex-basis: unset;
        margin-bottom: 10px;
        min-width: 34rem;
    }
}

.cardElement-store {
    flex-basis: 24%;

    text-align: center;
    background-color: white;
    transition: background-color 0.2s ease;
    margin: 0 1% 1% 0;
    border-radius: 5px;
}

@media (max-width: 1110px) {
    .cardElement-store {
        flex-basis: 47%;
        margin: 10px;
    }
}

@media (max-width: 801px) {
    .cardElement-store {
        flex-basis: unset;
        margin-bottom: 10px;
        min-width: 34rem;
    }
}

.item1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    width: 50%;
}

.item2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    width: 50%;
}

@media (max-width: 1110px) {
    .item1 {
        justify-content: space-between;
    }
}

@media (max-width: 801px) {
    .item1 {
        flex-wrap: nowrap !important;
        width: 144rem;
    }
}

@media (max-width: 1110px) {
    .item2 {
        justify-content: space-between;
    }
}

@media (max-width: 801px) {
    .item2 {
        flex-wrap: nowrap !important;
        width: 144rem;
    }
}

.cardElement-most-pop {
    flex-basis: 48%;
    box-shadow: 0 5px 6px 0 hsla(0, 0%, 0%, 0.3);
    text-align: center;
    background-color: white;
    transition: background-color 0.2s ease;
    margin: 0 2% 2% 0;
    border-radius: 5px;
}

.cardElement-most-pop:hover {
    background-color: #0193b728;
    cursor: pointer;
}

@media (max-width: 1110px) {
    .cardElement-most-pop {
        flex-basis: 94%;
        margin: 10px;
    }
}

@media (max-width: 801px) {
    .cardElement-most-pop {
        flex-basis: unset;
        margin-bottom: 10px;
        min-width: 34rem;
    }
}
