.alert {
    background-color: rgba(231, 152, 152, 0.568);
    border-radius: 0.5rem;
    padding: 2rem;
    width: 50%;
    margin: auto;
    box-shadow: 0 0.3rem 0.6rem 0 hsla(0, 0%, 0%, 0.3);
}

.error-header {
    color: rgb(128, 33, 33);
}

.error-text {
    color: rgb(128, 33, 33);
    font-weight: 600;
    font-size: 1.6rem; 
}