.pageHeroWrapper {
    max-width: 100%;
    background-color: white;
    color:  rgb(65, 65, 65);
}

.heroContainer {
    max-width: 144rem;
    min-height: 30.5rem;
    margin: 0 auto 5rem auto !important;
    padding: 10rem 2rem 3rem 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width: 638px) {
    .heroContainer {
        padding: 10rem 2rem 3rem 1rem;
        margin: 0 auto 3rem auto !important;
    }
}

.heroText {
    flex-basis: 45%;
    text-align: left;
    padding-left: 1.5%;
}

@media (max-width: 638px) {
    .heroText {
        flex-basis: 100%;
    }
}

@media (max-width: 801px) {
    .heroText {
        padding-left: 0;
    }

    .heroText p {
        margin: 2.5rem 0 2.5rem 0 !important;
    }

    .heroText h1 {
        margin-left: 0rem !important;
    }

    .listenNow-button {
        margin-left: 0rem !important;
    }
}

.heroText h1 {
    font-size: 5rem;
    margin-left: 31%;
    line-height: 5rem;
    font-weight: 600;
}

.heroText p {
    line-height: 2.8rem;
    margin: 3.2rem 0 3.2rem 31%;
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
}

.listenNow-button {
    padding: 0 0 0 1rem;
    border-left: 0.3rem solid #0193b7;
    background-color: white;
    color: rgb(65, 65, 65);
    text-decoration: none;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 540;
    cursor: pointer !important;
    outline: none;
    margin-left: 31%;
    letter-spacing: 0.2rem;

}

.viewAll-button {
    margin-top: 1.5rem;
    padding: 0 0 0 1rem;
    border-left: 0.3rem solid #0193B7;
    color: rgb(65, 65, 65);
    text-decoration: none;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 540;
    cursor: pointer;
    transition: background-color 0.2s ease;
    outline: none;
    transition: box-shadow 0.2s ease;
    letter-spacing: 0.2rem;
}

@media (max-width: 1110px) {
    .viewAll-button {
        margin-left: 1rem;
    }
}

@media (max-width: 638px) {
    .heroLogo {
        display: none;
    }
}

.heroLogo {
    flex-basis: 45%;
    text-align: center;
}

.heroLogo img {
    width: 30rem;
    margin-left: 20%;
}

img {
    border-radius: 0.5rem !important;
}

.componentContainer {
    max-width: 144rem;
    margin: auto;
}

@media (max-width: 638px) {
    .componentContainer {
        margin: 1rem auto auto auto !important;
    }
}

.componentContainer-white {
    background-color: white;
}

.componentContent-white {
    max-width: 144rem;
    margin: auto;
    padding: 4rem 0 2rem 0;
}

@media (max-width: 638px) {
    .componentContent-white {
        margin: 1rem auto auto auto !important;
    }
}

.secondaryHeader {
    max-width: 144rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 1% 0.5rem 1.3%;
}

@media (Max-width: 638px) {
    .secondaryHeader {
        margin-left: 2%;
    }
}

h3 {
    color:  rgb(65, 65, 65);
    padding-right: 1rem;
    margin: 0;
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
    line-height: 2.2rem;
    font-weight: 600;
}

.textBox {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    box-shadow: 0 5px 6px 0 hsla(0, 0%, 0%, 0.3);
    background-color: white;
    border-radius: 0.5rem;
    margin: 0 1.3% 5rem 2rem;
    padding: 1.7rem;
}

@media (max-width: 1110px) {
    .textBox {
        margin-left: 1%;
        margin-right: 2%;
    }
}

@media (max-width: 801px) {
    .textBox {
        margin-right: 1%;
        padding: 1rem;
    }
}

.textBox-text {
    flex-basis: 70%;
    max-width: 100%;
    margin: 2.5rem 1.3% 2.5rem 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.05rem;

}

@media (max-width: 1271px) {
    .textBox-text {
        flex-basis: 100%;
    }
}

@media (max-width: 801px) {
    .textBox-text {
        margin: 1rem;
    }
}

.textBoxt-text p {
    padding: 0 1.7rem 1.7rem 1.7rem;
    margin: 0;
}

.textBox-image {
    flex-basis: 20%;
    padding-top: 1.5rem;
    padding-left: 2rem;
}

@media (max-width: 1271px) {
    .textBox-image {
        margin: auto;
        padding-left: 0rem;
        padding-bottom: 3rem;
    }
}

.routerLink {
    max-width: 100%;
    height: 100%;
}

.routerLink:active, :focus {
    outline: 0.1rem dashed rgb(133, 133, 133);
}

.grey {
    background-color: #A5A9AF;
    height: 2.5rem;
    width: 2.5rem;
    display: inline-block;
    margin-right: 1rem;
    cursor: pointer;
    border: 0.1rem solid rgb(192, 192, 192);
}

.navy {
    background-color: #041C40;
    height: 2.5rem;
    width: 2.5rem;
    display: inline-block;
    margin-right: 1rem;
    cursor: pointer;
    border: 0.1rem solid rgb(192, 192, 192);
}

.black {
    background-color: black;
    height: 2.5rem;
    width: 2.5rem;
    display: inline-block;
    margin-right: 1rem;
    cursor: pointer;
    border: 0.1rem solid rgb(192, 192, 192);
}

.red {
    background-color: red;
    height: 2.5rem;
    width: 2.5rem;
    display: inline-block;
    cursor: pointer;
    border: 0.1rem solid rgb(192, 192, 192);
    margin-right: 1rem;
}

.white {
    background-color: white;
    height: 2.5rem;
    width: 2.5rem;
    display: inline-block;
    cursor: pointer;
    border: 0.1rem solid rgb(192, 192, 192);  
    margin-right: 1rem;
}

.buy-item {
    padding: 0.5rem 1rem;
    width: 10rem;
    margin: 1rem 0 0.5rem 0;
    background-color: #0193b7;
    box-shadow: 0 0.3rem 0.6rem 0 hsla(0, 0%, 0%, 0.3);
    border: none;
    border-radius: 0.5rem;
    color: white;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    outline: none;
    letter-spacing: 0.05rem;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
}