.routerLink:active {
    outline: 0;
}

.cardHeader {
    margin-top: 0 !important;
    margin-bottom: 0px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: white;
    font-weight: 500;
    background-color: #0193b7;
    text-align: left;
    padding-left: 1.7rem;
    font-size: 1.8rem;
}

.cardDetails {
    text-align: left !important;
    padding: 1.7rem;
    letter-spacing: 0.05rem;
    font-size: 1.4rem;
    font-weight: 500;
}

.cardDetails p {
    margin: 0;
}

.title {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    color: rgb(65, 65, 65);
    font-weight: 700;
}

.catNo {
    margin-bottom: 0.1rem;
    color: rgb(65, 65, 65);
    margin-top: 0;
    font-weight: 700;
}

.artistName {
    color: rgb(121, 121, 121);
    margin-bottom: 0;
    margin-top: 0;
}

.artwork {
    width: 100%;
    display: block;
}

img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.musicStyle {
    margin-bottom: 0.1rem;
    color: rgb(121, 121, 121);
    margin-top: 0;
}

.duration {
    margin-bottom: 0.1rem;
    color: rgb(121, 121, 121);
    margin-top: 0;
}

.internalUrl {
    padding: 0.9rem 0 1rem 0;
}

.internalUrl a {
    color: #B72501;
    display: inline-block;
    padding-top: 0;
    height: 1.5rem;
    cursor: pointer;
    letter-spacing: 0.2rem;
    font-size: 1.4rem;
    font-weight: 700;
}