.routerLink:active, :focus {
    outline: 0.1rem dashed rgb(133, 133, 133);
}

.cardHeader {
    margin-top: 0 !important;
    margin-bottom: 0px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: white;
    font-weight: 500;
    background-color: #0193b7;
    text-align: left;
    padding-left: 1.7rem;
    font-size: 1.8rem;
}

.cardDetails {
    text-align: left !important;
    padding: 2rem;
    letter-spacing: 0.05rem;
    font-size: 1.4rem;
    font-weight: 500;
    position: relative;
    max-height: 15rem;
}

.cardDetails p {
    margin: 0;
}

.news-cardDetails {
    text-align: left !important;
    padding: 2rem;
    letter-spacing: 0.05rem;
    font-size: 1.4rem;
    font-weight: 500;
    position: relative;
    min-height: 19rem;
}

.news-cardDetails p {
    margin: 0;
}

.title {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    color: rgb(65, 65, 65);
    font-weight: 700;
}

.catNo {
    margin-bottom: 0.1rem;
    color: rgb(65, 65, 65);
    margin-top: 0;
    font-weight: 700;
}

.artistName {
    color: rgb(121, 121, 121);
    margin-bottom: 0;
    margin-top: 0;
}

.artwork {
    width: 100%;
    display: block;
}

img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.musicStyle {
    margin-bottom: 0.1rem;
    color: rgb(121, 121, 121);
    margin-top: 0;
}

.duration {
    margin-bottom: 0.1rem;
    color: rgb(121, 121, 121);
    margin-top: 0;
}

.button {
    background-color: #0193b7;
    margin-bottom: 1.5rem;
    margin-top: 5rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    position: absolute;
    bottom: 0;
}

.button a {
    color: white;
    padding-top: 0;
    height: 1.5rem;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
}

.externalUrl {
    font-weight: 700;
}

.moreInfo {
    padding-top: 1rem;
}

.listenNow {
    display: inline-block;
    background-color: #0193b7;
    color: white;
    margin-top: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-weight: 600;
}

.listenNow a {
    margin-top: 3rem;
}