<div class="wrapper">
    <div class="pageElement">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/P-YqcQ9Ryzk?modestbranding=1;controls=0;showinfo=0;rel=0;fs=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="pageElementText">
        <p>GTA Digital Live Presents<br>
        Tune into the GTA Digital Live stream to check out Gary The Apprentice playing all things techno, in full HD and crystal clear audio.</p>
        <p>If you would like to be notified whenever GTA Digital goes live, click the YouTube button below to subscribe</p>
        <div class="g-ytsubscribe" data-channelid="UCi7G9ij_Hm7UBEuZjCRUmAw" data-layout="default" data-count="default"></div>     
    </div>
</div>
