.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between !important;
    background-color: rgb(240, 240, 240) !important;
    padding-left: 10px;
    padding-right: 10px;
}

.pageElement {
    flex-basis: 30%;
    margin-left: 10px;
    margin-right: 10px;
}

.pageElementText {
    flex-basis: 54%;
    margin-left: 10px;
    margin-right: 10px;
    
}