.live-stream-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between !important;
    background-color: white;
    margin: 1rem 2rem 2rem 2rem;
    /*box-shadow: 0 0.1rem 0.6rem 0 hsla(0, 0%, 0%, 0.3);*/
}

@media (max-width: 1110px) {
    .live-stream-wrapper {
        margin: 1rem;
    }
}

@media (max-width: 801px) {
    .live-stream-wrapper {
        margin-bottom: 5rem;
    }
}

.youTube-vid-desktop {
    flex-basis: 30%;
    margin: 0;
    display: block;
    max-height: 31.5rem;

}

.youTubeEmbed {
    width: 56rem; 
    height: 31.5rem;
    border-radius: 0.5rem;
    box-shadow: 2px 4px 10px hsla(0, 0%, 0%, 0.3);
}

@media (max-width: 1422px) {
    .youTube-vid-desktop {
        flex-basis: 100%;
    }

    .youTubeEmbed {
        width: 100%;
    }

    .youTube-vid-text {
        padding: 0 0 1rem 1rem;
    }
}

.youTube-vid-text {
    flex-basis: 57%;
    margin: 0;
    letter-spacing: 0.05rem;
    font-size: 1.4rem; 
    font-weight: 500;   
    padding: 0;
    box-shadow: 0 0.1rem 0.6rem 0 hsla(0, 0%, 0%, 0.3);
    border-radius: 0.5rem;

}

.youTube-vid-text h3 {
    background-color: #0193b7;
    color: white;
    padding: 1rem 2rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    font-weight: 500;
    font-size: 1.7rem;
}

.youTube-vid-text p {
    padding: 2.5rem 2.5rem 0.5rem 2.5rem;
    margin-bottom: 0;
    margin-top: 0;
}

@media (max-width: 801px) {
    .youTube-vid-text {
        flex-basis: 100%;
        padding: 1rem;
    }

    .youTube-vid-text p {
        margin-top: 0;

    }
}

h3 {
    margin: 0 auto 0 auto;
}

.yt-subscribe {
    padding-left: 2rem;
}