<div class="wrapper">

    <div class="pageElement">
        <img class="latestNewsImg" src="assets/images/card-images/latest-news-images/item1.jpg">
        <div class="latestNewsText">
            <h3>GTA Digital Presents - May 2020</h3>
            <p>This months instalment of GTA Digital Presents sees Scottish Techno DJ, Kyle Horne, take the reins.<br>Expect an hour of straight bangers.</p>
            <p>You can tune in on Tuesday 26 May, from 10-11pm, over at <a href="https://fnoobtechno.com" target="blank">Fnoob Techno Radio<img class="external-link" src="../../../assets/images/small-images/icons/external-link.png"></a></p>
        </div>
    </div>

    <div class="pageElement">
        <img class="latestNewsImg" src="assets/images/card-images/latest-news-images/item2.jpg">
        <div class="latestNewsText">
            <h3>Online Now: GTA Digital Podcast #26</h3>
            <p>The GTA Digital Podcast is back, following this months show on Fnoob Techno Radio, which saw Leeds(UK) based DJ, Bushby, take the reins, laying down an hour of some excellent techno. Starting off with something a bit more breaky, but soon into the straight up bangers.</p>
            <div class="trackList">
                <div class="collapsible-TL" @fadeIn *ngIf="!isCollapsed1">
                    <p><iframe scrolling="no" id="hearthis_at_track_4672202" width="100%" height="130" src="https://app.hearthis.at/embed/4672202/transparent/?hcolor=666666&color=0193b7&style=1&block_size=2&block_space=1&background=0&waveform=0&cover=0&autoplay=0&css=" frameborder="0" allowtransparency allow="autoplay"><p>Listen to <a href="https://hearthis.at/gtadigital-podcast-series/gta-digital-podcast-26-mixed-by-bushby/" target="_blank">GTA Digital Podcast #26, mixed by Bushby</a> <span>by</span><a href="https://hearthis.at/gtadigital-podcast-series/" target="_blank" >GTA Digital - Podcast Series</a> <span>on</span> <a href="https://hearthis.at/" target="_blank">hearthis.at</a></p></iframe></p>
                </div>
                <button type="button" class="trackList-Button" (click)="toggleCollapse1()">{{btn1DefaultStatus}}</button>
            </div>
        </div>
    </div>

    <div class="pageElement">
        <img class="latestNewsImg" src="assets/images/card-images/latest-news-images/item3.jpg">
        <div class="latestNewsText">
            <h3>Online Now: GTA Digital Podcast #25</h3>
            <p>The GTA Digital Podcast is back, with myself, Gary The Apprentice, laying down some techno for ya'll. This time something a bit different, and something that I've never done before. For this show I've decided to put a set together in Ableton.</p>
            <div class="collapsible-TL" @fadeIn *ngIf="!isCollapsed2">
                <p><iframe scrolling="no" id="hearthis_at_track_4561994" width="100%" height="130" src="https://app.hearthis.at/embed/4561994/transparent/?hcolor=666666&color=0193b7&style=1&block_size=2&block_space=1&background=0&waveform=0&cover=1&autoplay=0&css=" frameborder="0" allowtransparency allow="autoplay"><p>Listen to <a href="https://hearthis.at/gtadigital-podcast-series/gta-digital-podcast-25-by-gary-the-apprentice/" target="_blank">GTA Digital Podcast #25, by Gary The Apprentice</a> <span>by</span><a href="https://hearthis.at/gtadigital-podcast-series/" target="_blank" >GTA Digital - Podcast Series</a> <span>on</span> <a href="https://hearthis.at/" target="_blank">hearthis.at</a></p></iframe></p>
            </div>
            <button type="button" class="trackList-Button" (click)="toggleCollapse2()">{{btn2DefaultStatus}}</button>
        </div>
    </div>
</div>