.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between !important;
}

.pageElement {
    flex-basis: 30%;
    margin-left: 10px;
    margin-right: 10px;
    
}

@media (max-width: 1079px) {
    .pageElement {
        flex-basis: 47%;
        margin: 10px;
    }
}

@media (max-width: 756px) {
    .pageElement {
        flex-basis: 100%;
    }
}

.latestNewsImg {
    width: 100%;
}

.latestNewsText p {
    margin-top: 0;
    margin-bottom: 10px;
}

.latestNewsText h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.trackList-Button {
    padding: 5px 8px 5px 8px;
    background-color: #0193b7;
    box-shadow: 0 3px 6px 0 hsla(0, 0%, 0%, 0.3);
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    outline: none;
}
  
.trackList-Button:hover {
    background-color: #0193b7b4;  
}

.collapsible-TL ul {
    list-style-type: none;
    padding-left: 0;
}

.trackList {
    margin-bottom: 10px;
}

.date {
    color: rgb(121, 121, 121);
}