.latest-news-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between !important;
    padding: 10px 20px 5px 20px;
}

.cardElement {
    flex-basis: 24%;
    box-shadow: 0 5px 6px 0 hsla(0, 0%, 0%, 0.3);
    background-color: white;
    transition: background-color 0.2s ease;
    
}

@media (max-width: 1079px) {
    .cardElement {
        flex-basis: 47%;
        margin: 10px;
    }
}

@media (max-width: 801px) {
    .cardElement {
        flex-basis: 100%;
    }
}

.cardElement:hover {
    background-color: #0193b728;
    cursor: pointer;
}

.latestNewsImg {
    width: 100%;
    display: block;
}

.cardHeader {
    margin-top: 0 !important;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    font-weight: 500;
    background-color: #0193b7;
    text-align: left;
    padding-left: 10px;
}

.latest-news-details p {
    text-align: left !important;
    padding: 10px;
    margin-bottom: 0;
    margin-top: 0;
}