<div class="wrapper">

    <div class="pageElement">
        <img class="latestNewsImg" src="assets/images/artwork/fnoobCovers/FnoobEventPoster-Bushby.jpg">
        <div class="latestNewsText">
            <h3>GTA Digital Presents - May 2020</h3>
            <p>This months instalment of GTA Digital Presents sees Scottish Techno DJ, Kyle Horne, take the reins.<br>Expect an hour of straight bangers.</p>
            <p>You can tune in on Tuesday 26 May, from 10-11pm, over at <a href="https://fnoobtechno.com">Fnoob Techno Radio</a></p>
        </div>
    </div>

    <div class="pageElement">
        <img class="latestNewsImg" src="assets/images/card-images/latestNew-Podcast26.jpg">
        <div class="latestNewsText">
            <h3>Online Now: GTA Digital Podcast #26</h3>
            <p>The GTA Digital Podcast is back, following this months show on Fnoob Techno Radio, which saw Leeds(UK) based DJ, Bushby, take the reins, laying down an hour of some excellent techno. Starting off with something a bit more breaky, but soon into the straight up bangers.</p>
            <div class="trackList">
                <div class="collapsible-TL" @fadeIn *ngIf="!isCollapsed1">
                    <ul>    
                        <li>Palekh - Jungle Calling [Get Busy]</li>
                        <li>Fear-E - Puro [Dark Entries]</li>
                        <li>Lukes Anger ft. Death of Death of Discoteque - When Will You Take [Varvet]</li>
                        <li>Carpainter - Shock Out [Trekkie -trax]</li>
                        <li>Dave Mono - All Aboard [Digital Distortions]</li>
                        <li>DJ Boss - Zaba [Dole-Gate]</li>
                        <li>Diabla Diezco - LSD TV [Mord]</li>
                        <li>Asquith - Gang [Who's Susan]</li>
                        <li>Viers - Four [Steel City Dance Discs]</li>
                        <li>Cassegrain - First Words [Arcing Seas]</li>
                        <li>Mall Grab - Hidden Worlds (Rave Mix) [Looking For Trouble]</li>
                        <li>less Instructions - Upload Your Mask [Get Busy]</li>
                        <li>Chris Moss Acid - Machine Heavy [Balkan Vinyl]</li>
                        <li>Signum - What Ya Got For Me (JoeFarr Re-edit)</li>
                    </ul>
                </div>
                <button type="button" class="trackList-Button" (click)="toggleCollapse1()">{{btn1DefaultStatus}}</button>
            </div>
        </div>
    </div>

    <div class="pageElement">
        <img class="latestNewsImg" src="assets/images/card-images/latestNew-Podcast25.jpg">
        <div class="latestNewsText">
            <h3>Online Now: GTA Digital Podcast #25</h3>
            <p>The GTA Digital Podcast is back, with myself, Gary The Apprentice, laying down some techno for ya'll. This time something a bit different, and something that I've never done before. For this show I've decided to put a set together in Ableton, with over 40 tracks spread out across 4 channels, and performed using a Novation Launchpad and Launchcontrol XL.</p>
            <div class="collapsible-TL" @fadeIn *ngIf="!isCollapsed2">
                <ul>    
                    <li>Surgeon - Depart (Original Mix)</li>
                    <li>The Anxious, Brainshaker - Draw Out Your Breeches (Original Mix)</li>
                    <li>The Anxious - Begin To Understand (Original Mix)</li>
                    <li>Dave The Drummer & Chris Liberator - Underthreat (Patrick DSP Remix)</li>
                    <li>DJ Dro San - O Niga vs a Niga (Original Mix)</li>
                    <li>Slut Peddler's - The Gimp - (Original Mix)</li>
                    <li>Ryuji Takeuchi - Kei-Han-Shin (Original Mix)</li>
                    <li>Lars Klein - Fighting With The Fire (Original Mix)</li>
                    <li>Player - Infamous Player Classics Vol I - 01 Player 023 A1</li>
                    <li>Gary The Apprentice - Illusions of Reality (Original Mix)</li>
                    <li>Wetworks vs V.I.T.R.I.O.L. - Subdue Your Passions (Original Mix)</li>
                    <li>Dave Mono - Thuns (Original Mix)</li>
                    <li>Ollie Linear - You're Forcing Me (Feat' Melissa) (Original Mix)</li>
                    <li>Lars Klein - Sweat pt. 2 (Original Mix)</li>
                    <li>DJ Ogi - Kaotik (Original Mix)</li>
                    <li>Jeff Mills - The Bells (Original Mix)</li>
                    <li>Mike Wade - Death Rattle Drum (Original Mix)</li>
                    <li>Lars Klein - Black Rain (Original Mix)</li>
                    <li>The Anxious - Stalker (Original Mix)</li>
                    <li>Patrick DSP - Scum Like You (Original Mix)</li>
                    <li>Audioklinik - Critical Path (Original Mix)</li>
                    <li>Peter B - Pitbull (Original Mix)</li>
                    <li>Primal - Borgata (Original Mix)</li>
                    <li>Ryuji Takeuchi - Ichigo Ichie (Original Mix)</li>
                    <li>DJ Bam Bam & Jamie Bissmire - Bad Boy Bass (Original Mix)</li>
                    <li>Audioklinik - Polyphem (Original Mix)</li>
                    <li>Bradlee - Intended Harm (Original Mix)</li>
                    <li>Broken Rules - Laughing Pain (Original Mix)</li>
                    <li>DJ Ogi - Hartera (Original Mix)</li>
                    <li>Dj Boss - No Room To Move (Original Mix)</li>
                    <li>DJ Pauze & Patrick DSP - Disgraceful Scene (Original Mix)</li>
                    <li>Ignition Technician - Shark Attack (Glenn Wilson Remix)</li>
                    <li>Dean Rodell - Part of A Complication (Original Mix)</li>
                    <li>Wetworks - Explanations Are Useless (Original Mix)</li>
                    <li>Jamie Ball - Dumb Loop (Original Mix)</li>
                    <li>Player - Player Eighteen - 02 Player 018 B1 (Original Mix)</li>
                    <li>Mr Peg - Beg Me (Original Mix)</li>
                    <li>Patrick DSP - Dank Molly (Original Mix)</li>
                    <li>Luis Ruiz & Andreas Florin - Conscience (Original Mix)</li>
                    <li>Michael Burkat & Lars Klein - Go On A Knees And Suck Me Denise (Original Mix)</li>
                    <li>Ollie Linear - The Off Switch (OB1 Remix)</li>
                    <li>Broken Rules - Simplified (Original Mix)</li>
                    <li>DJ MinuPren - Was Aus Der Frau... (Original Mix)</li>
                    <li>Broken Rules - Floor Plans (Original Mix)</li>
                    <li>Jamie Ball - Killafornia (Original Mix)</li>
                </ul>
            </div>
            <button type="button" class="trackList-Button" (click)="toggleCollapse2()">{{btn2DefaultStatus}}</button>
        </div>
    </div>
</div>