<div class="wrapper">
    <div class="navContainer">
        <div class="headerLogo">
            <a [routerLink]="['/home']"><img class="navLogo" src="./assets/images/small-images/gtaDigital-Header.jpg"></a>
        </div>
        <div class="navbar">
            <ul>
                <li><a [routerLink]="['home']">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a [routerLink]="['music']">Music</a></li>
                <li><a href="#">Merch</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="socialMediaIcons">
            <ul>
                <li><a href="#"><img src="./assets/images/small-images/icons/facebookIcon.png"></a></li>
                <li><a href="#"><img src="./assets/images/small-images/icons/twitterIcon.png"></a></li>
                <li><a href="#"><img src="./assets/images/small-images/icons/instagramIcon.png"></a></li>
                <li><a href="#"><img src="./assets/images/small-images/icons/youtubeIcon.png"></a></li>
                <li><a href="#"><img src="./assets/images/small-images/icons/soundcloudIcon.png"></a></li>
                <li><a href="#"><img src="./assets/images/small-images/icons/hearthisIcon.png"></a></li>
            </ul>
        </div>
    </div>
</div>