.live-stream-wrapper {
    max-height: 34rem;
    overflow-y: hidden;
    margin-bottom: 1rem;
}

@media (max-width: 1110px) {
    .live-stream-wrapper {
        margin: 1rem;
    }
}

.live-stream-wrapper-expanded {
    max-width: 100%;
    margin: auto;
    overflow-y: hidden;
}

@media (max-width: 1110px) {
    .live-stream-wrapper-expanded {
        max-width: 98.3%;
    }
}

.viewAll-button {
    padding: 0 0 0 1rem;
    border-left: 0.3rem solid #0193B7;
    color: rgb(65, 65, 65);
    text-decoration: none;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 540;
    cursor: pointer;
    outline: none;
    letter-spacing: 0.2rem;
    margin: 1rem 2rem 2rem 2rem;
}


@media (max-width: 1110px) {
    .viewAll-button {
        margin-left: 1rem;
    }
}

.element-wrapper {
    margin-bottom: 2rem;
}