<div class="element-wrapper">
    <div [ngClass]="{'live-stream-wrapper-expanded': isWrapperExpanded, 'live-stream-wrapper': !isWrapperExpanded}">
        <div *ngFor="let liveStreamItem of liveStreamItems | slice:1 | reverse">
            <live-stream-archive-thumbnail [liveStreamItem]="liveStreamItem"></live-stream-archive-thumbnail>
        </div>
    </div>
    <span *ngIf="!isWrapperExpanded" class="viewAll-button" (click)="expandLiveStream()">View More</span>
    <span *ngIf="isWrapperExpanded" class="viewAll-button" (click)="collapseLiveStream()">View Less</span>
</div>
