<div class="liveStreamContainer">
    <div class="videoItem">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/MwU0oS0LKGs?modestbranding=1;controls=1;showinfo=0;rel=0;fs=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="videoItem">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/4PaRduQyIls?modestbranding=1;controls=1;showinfo=0;rel=0;fs=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="videoItem">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/jHSndN1TfVc?modestbranding=1;controls=1;showinfo=0;rel=0;fs=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="videoItem">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/SyklycdUPsw?modestbranding=1;controls=1;showinfo=0;rel=0;fs=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>