<div class="form-container">

    <form (ngSubmit)="submitForm()" #contactForm="ngForm">

        <p>
            <label>Name</label>
            <input
            placeholder="Name..." 
            type="text" 
            name="name" 
            [(ngModel)]="name"
            #nameInput="ngModel" 
            required>

            <span class="error" *ngIf="nameInput.invalid && nameInput.touched">
                Your name is required.</span>

        </p>

        <p>
            <label>Email</label>
            <input 
            placeholder="example@email.com" 
            type="email" 
            name="email"  
            [(ngModel)]="email"
            #emailInput="ngModel"
            required
            email>

            <span class="error" *ngIf="emailInput.invalid && emailInput.touched">
                Your email address is required and it must be a valid email address.
            </span>

        </p>

        <p class="full">
            <label>Message</label>
            <textarea 
            placeholder="Enter your message..."
            name="message" 
            rows="5"
            class="textarea" 
            [(ngModel)]="message"
            #messageField="ngModel"
            required>
            </textarea>
            
            <span class="error" *ngIf="messageField.invalid && messageField.touched">
                You forgot to type a message.
            </span>

        </p>

        <p class="full">
            <button 
            type="submit" 
            class="submit-button"
            [disabled]="contactForm.invalid">
            Submit
            </button>
        </p>

    </form>

</div>

<div class="message-sent-container" *ngIf="giveConfirmation" @formSubmittedAnim>
    <div class="message-sent">
        <p class="success">Your message has been received, you will receive a response ASAP.</p>
        <button class="close" (click)="closeConfirmation()">Close and return to home page</button>
    </div>
</div>
