.form-container {
    width: 70%;
    margin: auto;
}

label {
    font-size: 1.5rem;
    display: block;
}

.small-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.field-small, input select, textarea {
    flex-basis: 100%;
    border-radius: 4px;
    margin-top: 6px;
    font-family: Titillium Web, sans-serif;    
    font-size: 1.5rem;
}
.input {
    width: 98.5%;
    box-sizing: border-box;
    resize: vertical;
    outline: none;
    padding: 1.2rem;
    border: 0.1rem solid rgb(196, 196, 196);
    border-radius: 0.4rem;
    margin-top: 1rem;
}

.field, select, textarea {
    margin-top: 1rem;
    width: 98.5%;
}

.textarea {
    border: 0.1rem solid rgb(196, 196, 196);
    height: 12rem;
    padding: 1.2rem;
}


.error {
    margin: 0.2rem 0 1.6rem 0.2rem;
    color: rgb(172, 33, 33);
    font-weight: 600;
}
  
.submit-button {
    background-color: #0193B7;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 1.7rem;
    font-weight: 600;
    margin-top: 1.6rem;
    font-family: Titillium Web, sans-serif;    
}
  
.submit-button:hover {
    background-color: #006c86;
}

.submit-button:disabled {
    background-color:#0193b74b;
    cursor: not-allowed;
}