<div class="mainComponentContainer">
    <div class="pageContent">
        <div class="pageHeader">
        </div>
        <div class="pageSpan">
            <div class="pageElement">
                <most-popular></most-popular>
            </div>
        </div>
        <div class="pageSpan">
            <div class="secondaryHeader">
                <!--<div class="headerIcon">
                    <img src="../../assets/images/small-images/icons/announcement-icon.png">
                </div>-->
                <div class="headerItem">
                    <h3>Latest News</h3>
                </div>
            </div>
            <div class="pageElement">
                <latest-news></latest-news>
            </div>
        </div>
        <div class="pageSpan">
            <div class="secondaryHeader">
                <div class="headerItem">
                    <h3>GTA Digital Live</h3>
                </div>
                <!--<div class="headerIcon">
                    <img src="../../assets/images/small-images/icons/youtubeIcon.png">
                </div>-->
            </div>
            <div class="pageElement">
                <live-stream></live-stream>
            </div>
        </div>
    </div>
</div>
