<div class="pageHeroWrapper">
    <div class="heroContainer" @heroAnim>
        <div class="heroText">
            <h1 [innerHTML]="homeContent.heroHeader"></h1>
            <p [innerHTML]="homeContent.heroText"></p>

            <span class="listenNow-button" (click)="listenNow()" [innerHTML]="homeContent.heroButton"></span>

        </div>
        <div class="heroLogo">
            <img [src]="homeContent.heroImage" alt="GTA Digital Logo">
        </div>
    </div>
</div>
<div class="componentContainer">
    <div class="componentContent">

        <div @headerAnim>
        <span class="borderTop"></span>  
        <div class="secondaryHeader">
            <h3 [innerHTML]="homeContent.header1"></h3>
        </div>
        </div>
        <latest-news></latest-news>
    </div>
</div>

<div class="componentContainer-white">
    <div class="componentContent-white" @liveStreamAnim>
        <span class="borderTop"></span>
        <div class="secondaryHeader">
            <h3 [innerHTML]="homeContent.header2"></h3>
        </div>
        <live-stream></live-stream>
    </div>
</div>
