.pageHeader {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px 20px 0px 20px;
    background-color: #0193b7;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.headerIcon {
    margin-right: 10px;
}

.headerIcon img {
    height: 30px;
    margin: 5px 0px 5px 10px;
    display: block;
}

.pageBanner {
   max-width: 100%;
   padding: 2px 20px 5px 20px; 
}

.pageBanner img {
    width: 100%;
}

h2 {
    color: white;
}