.pageHeroWrapper {
    max-width: 100%;
    position: relative;
    z-index: -1;
    background-color: white;
    color:  rgb(65, 65, 65);
    /*box-shadow: 0 1px 6px 0 hsla(0, 0%, 0%, 0.3);*/
}

.heroContainer {
    max-width: 1440px;
    margin: 0 auto 30px auto !important;
    padding: 170px 0 170px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.heroText {
    flex-basis: 35%;
    padding-left: 20px;
}

.heroText h1 {
    font-size: 50px;
}

.heroText p {
    line-height: 27px;
}

.listenNow-button {
    padding: 0 0 0 10px;
    border-left: 3px solid #0193b7;
    color: rgb(65, 65, 65);
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: 540;
    cursor: pointer !important;
    transition: background-color 0.2s ease;
    outline: none;
    transition: box-shadow 0.2s ease;
}

.heroLogo {
    flex-basis: 60%;
}

.mainComponentContainer {
    max-width: 1440px;
    margin: auto;
}

.secondaryHeader {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px 20px 0px 20px;
}

h3 {
    color:  rgb(65, 65, 65);
    border-left: 3px solid #0193b7;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    font-size: 22px;
}