<div class="pageHeroWrapper">
    <div class="heroContainer">
        <div class="heroText">
            <h1>Underground Techno</h1>
            <p>GTA Digital started in 2013 as a platform for Gary The Apprentice to release his own music. Since then the label has expanded, adding a podcast series and more recently a monthly show on Fnoob Techno Radio</p>

            <span class="listenNow-button" (click)="listenNow()">Listen Now</span>

        </div>
        <div class="heroLogo">
            <img src="../../assets/images/logo.png">
        </div>
    </div>
</div>
<div class="componentContainer">
    <div class="componentContent">
        <most-popular></most-popular>

        <span class="borderTop"></span>  
        <div class="secondaryHeader">
            <h3>Latest News</h3>
        </div>
        <latest-news></latest-news>

        <span class="borderTop"></span>
        <div class="secondaryHeader">
            <h3>GTA Digital Live</h3>
        </div>
        <live-stream></live-stream>
    </div>
</div>
