.pageElement {
    flex-basis: 10%;
    height: 19.7rem;
    padding: 1rem 1rem 0 1rem;
    cursor: pointer;
    margin: 0 1rem 0 1rem;
}

.routerLink {
    min-width: 18.5rem;
    height: 18.5rem;
    margin-left: 15%;
}

.routerLink:active, :focus {
    outline: 0.1rem dashed rgb(133, 133, 133);
}

.youMayAlsoLikeImg {
    width: 185px;
}