.routerLink:active {
    outline: 0;
}

.releaseDetails {
    text-align: left !important;
    padding: 1rem;
    letter-spacing: 0.05rem;
    font-size: 1.4rem;
    font-weight: 500;
}

.cardHeader {
    margin-top: 0 !important;
    margin-bottom: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: white;
    font-weight: 500;
    background-color: #0193b7;
    font-size: 1.8rem;
    font-weight: 600;
}

.title {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    color: rgb(65, 65, 65);
    font-weight: 700;
}

.musicStyle {
    margin-bottom: 0.1rem;
    color: rgb(121, 121, 121);
    margin-top: 0;
}

.artistName {
    color: rgb(121, 121, 121);
    margin-bottom: 0;
    margin-top: 0;
}

.artwork {
    width: 100%;
    display: block;
}