<div class="tab-nav-wrapper">
    <div class="tabNavContainer">
        <div class="tabNav">
            <div class="tabNavItem1" (click)="toggleTabNav()">
                <img src="assets/images/small-images/icons/menu-icon.png">
            </div>
            <div class="tabNavItem2">
                <img src="assets/images/small-images/gtaDigital-Header.jpg">
            </div>
        </div>
        <div class="tabNav-MenuItems" @fadeIn *ngIf="!isCollapsed">
            <ul>
                <li (mouseup)="toggleTabNav()"><a [routerLink]="['home']">Home</a></li>
                <li (mouseup)="toggleTabNav()"><a href="#">About</a></li>
                <li (mouseup)="toggleTabNav()"><a [routerLink]="['music']">Music</a></li>
                <li (mouseup)="toggleTabNav()"><a href="#">Merch</a></li>
                <li (mouseup)="toggleTabNav()"><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</div>