<div class="tab-nav-wrapper">
    <div class="tabNavContainer">
        <div class="tabNav">
            <div class="tabNavItem1" (click)="toggleTabNav()">
                <img src="https://firebasestorage.googleapis.com/v0/b/gta-digital-web-app.appspot.com/o/main-content%2Ficons%2Fmenu-icon.png?alt=media&token=47dd5e02-1810-4f7c-b1b9-f3bcb6145862">
            </div>
            <div class="tabNavItem2">
                <img src="https://firebasestorage.googleapis.com/v0/b/gta-digital-web-app.appspot.com/o/main-content%2FgtaDigital-Header.jpg?alt=media&token=d98d203a-8472-441b-85b0-4729311b2909">
            </div>
        </div>
        <div class="tabNav-MenuItems" @fadeIn *ngIf="!isCollapsed">
            <ul>
                <li *ngFor="let navItem of navItems" (mouseup)="toggleTabNav()">
                    <tab-nav-items [navItem]="navItem"></tab-nav-items>
                </li>
            </ul>
        </div>
    </div>
</div>