.tab-nav-wrapper {
    width: 100%;
    background-color: #0193B7 !important;
    position: fixed;
    top: 0;
    z-index: 1;
}

.tabNavContainer {
    display: none;
}

@media (max-width: 849px) {
    .tabNavContainer {
        display: block;
        height: 6rem;
        width: 100%;
    }
}

.tabNav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 0.5rem;
}

.nav {
    font-size: 2rem;
    color: white;
}

.item {
    width: 100%;
    margin: 0;
}

.tabNavItem1 {
    flex-basis: 10%;
    cursor: pointer;
    padding-left: 0.8rem;
}

.tabNavItem2 {
    flex-basis: 70%;
    text-align: center;
}

.tabNavItem2 img {
    height: 4.5rem;
    cursor: pointer;
}

.tabNav-MenuItems {
    background-color: #0193B7;
    width: 100%;
    color: white;
}

.tabNav-MenuItems ul {
    margin-top: 0;
    padding: 0rem 0rem 1.5rem 1rem;
}

.tabNav-MenuItems li {
    list-style-type: none;
    margin: 0rem 0rem 2rem 0rem;
}