<div class="tab-nav-wrapper">
    <div class="tabNavContainer">
        <div class="tabNav">
            <div class="tabNavItem1" (click)="toggleTabNav()">
                <img src="assets/images/small-images/icons/menu-icon.png">
            </div>
            <div class="tabNavItem2">
                <img src="assets/images/small-images/gtaDigital-Header.jpg">
            </div>
        </div>
        <div class="tabNav-MenuItems" @fadeIn *ngIf="!isCollapsed">
            <ul>
                <li (mouseup)="toggleTabNav()" *ngFor="let navItem of navItems">
                    <tab-nav-items [navItem]="navItem"></tab-nav-items>
                </li>
            </ul>
        </div>
    </div>
</div>