.tab-nav-wrapper {
    width: 100%;
    background-color: #0193B7 !important;
    position: fixed;
    top: 0;
}

.tabNavContainer {
    display: none;
}

@media (max-width: 854px) {
    .tabNavContainer {
        display: block;
        height: 60px;
        width: 100%;
    }
}

.tabNav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 5px;
}

.tabNav-MenuItems a {
    font-size: 20px;
    color: white;
}

.tabNavItem1 {
    flex-basis: 10%;
    cursor: pointer;
    padding-left: 35px;
}

.tabNavItem2 {
    flex-basis: 70%;
    text-align: center;
}

.tabNavItem2 img {
    height: 45px;
    cursor: pointer;
}

.tabNav-MenuItems {
    background-color: #0193B7;
    width: 100%;
    color: white;
}

.tabNav-MenuItems ul {
    margin-top: 0;
    padding: 0px 0px 15px 35px;
}

.tabNav-MenuItems li {
    list-style-type: none;
    margin: 0px 0px 20px 0px;
}