h3 {
    margin-left: 20px;
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.pageHeader {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px 20px 0px 20px;
}

.headerIcon {
    margin-right: 10px;
}

.headerIcon img {
    height: 40px;
}