<div class="componentContainer">

    <div class="componentContent">

        <div class="pageHeader">
            <span class="pageHeader-text">
                <h2>Music</h2>
            </span>
        </div>

        <span class="borderTop"></span>
        <div class="secondaryHeader">
            <h3>Releases</h3>
        </div>
        <release-list-tile></release-list-tile>

        <span class="borderTop"></span>
        <div class="secondaryHeader">
            <h3>Podcasts</h3>
        </div>
        <podcast-tile></podcast-tile>

        <span class="borderTop"></span>
        <div class="secondaryHeader">
            <h3>GTA Digital Live Archive</h3>
        </div>
        <live-stream-archive></live-stream-archive>
        
    </div>
</div>