<div class="pageHeroWrapper">
    <div class="heroContainer">
        <div class="heroText">
            <h1>Music</h1>
            <p>Check out all of the music on GTA Digital, releases, podcasts and also recordings from past live streams...</p>

            <span class="listenNow-button" *ngFor="let release of releases | slice:0:1; let i=index" [routerLink]="['/music/releases', release.id]">Check out the latest release</span>

        </div>

        <div class="heroLogo" *ngFor="let release of releases | slice:0:1; let i=index">
            <img [src]="release.artwork" [alt]="release.title" style="    box-shadow: 0 5px 6px 0 hsla(0, 0%, 0%, 0.3);">
        </div>
    </div>
</div>

<div class="componentContainer">

    <div class="componentContent">

        <span class="borderTop"></span>
        <div class="secondaryHeader">
            <h3>Releases</h3>
        </div>
        <release-list-tile></release-list-tile>

        <span class="borderTop"></span>
        <div class="secondaryHeader">
            <h3>Podcasts</h3>
        </div>
        <podcast-tile></podcast-tile>

        <span class="borderTop"></span>
        <div class="secondaryHeader">
            <h3>GTA Digital Live Archive</h3>
            <div class="g-ytsubscribe" data-channelid="UCi7G9ij_Hm7UBEuZjCRUmAw" data-layout="default" data-count="default"></div>
        </div>
        <live-stream-archive></live-stream-archive>
        
    </div>
</div>