<div class="pageHeroWrapper">
    <div class="heroContainer" @heroAnim>
        <div class="heroText">
            <h1 [innerHTML]="musicContent.heroHeader"></h1>
            <p [innerHTML]="musicContent.heroText"></p>

            <span class="listenNow-button" *ngFor="let release of releases | reverse | slice:0:1; let i=index"
                [routerLink]="['/music/releases/release', release.id]" [innerHTML]="musicContent.heroButton"></span>

        </div>

        <div class="heroLogo" *ngFor="let release of releases | reverse | slice:0:1; let i=index">
            <img [src]="release.artwork" alt="Album Cover Image"
                style="box-shadow: 0 0.1rem 0.6rem 0 hsla(0, 0%, 0%, 0.3); cursor: pointer;"
                [routerLink]="['/music/releases/release', release.id]">
        </div>
    </div>
</div>

<div class="componentContainer">

    <div class="componentContent">

        <div @header1Anim>
            <span class="borderTop"></span>
            <div class="secondaryHeader">
                <h3 [innerHTML]="musicContent.header1"></h3>
            </div>
        </div>
        <release-list-tile></release-list-tile>

    </div>

    <div class="componentContent">

        <div @header2Anim>
            <span class="borderTop"></span>
            <div class="secondaryHeader">
                <h3 [innerHTML]="musicContent.header2"></h3>
            </div>
        </div>
        <podcast-tile></podcast-tile>


    </div>

    <div class="componentContent" style="margin-bottom: 3rem !important;">

        <div @header3Anim>
            <span class="borderTop"></span>
            <div class="secondaryHeader">
                <h3 [innerHTML]="musicContent.header3"></h3>
            </div>
        </div>
        <live-stream-archive></live-stream-archive>

    </div>

</div>