.pageElement {
    cursor: pointer;
    display: block;
    margin: 1.5rem 2rem;
}

/*.routerLink {
    min-width: 18.5rem;
    height: 18.5rem;
    margin-left: 15%;
}

.routerLink:active, :focus {
    outline: 0.1rem dashed rgb(133, 133, 133);
}*/

.youMayAlsoLikeImg {
    width: 18rem;
    display: block;
}