<div class="wrapper">
    <div class="header">
        <h3 class="youMayAlsoLike">You May Also Like</h3>
    </div>
    <div class="pageElement">
        <img class="youMayAlsoLikeImg" src="assets/images/artwork/podcasts/podcast26.jpg">
    </div>
    <div class="pageElement">
        <img class="youMayAlsoLikeImg" src="assets/images/artwork/podcasts/podcast25.jpg">
    </div>
    <div class="pageElement" (click)="goToGTA18()">
        <img class="youMayAlsoLikeImg" src="assets/images/artwork/releases/gta018.jpg">
    </div>
    <div class="pageElement">
        <img class="youMayAlsoLikeImg" src="assets/images/artwork/releases/gta016.jpg">
    </div>
    <div class="pageElement">
        <img class="youMayAlsoLikeImg" src="assets/images/artwork/releases/gta002.jpg">
    </div>
</div>
