.you-may-like-wrapper {
    max-width: 1440px;
    margin: auto;
}

.inner-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid lightgrey;
    box-shadow: 0 5px 6px 0 hsla(0, 0%, 0%, 0.3);
    /*background-color: rgb(240, 240, 240) !important;*/
    background-color: white;
    margin: 5px auto 5px auto;
    padding-left: 80px;
}

.header {
    width: 100%;
    margin-top: 50px;
}

.header h3 {
    border-left: 3px solid #0193b7;
    color: rgb(65, 65, 65);
    padding: 0 0 0 10px;
    letter-spacing: 2px;
}