.you-may-like-wrapper {
    max-width: 144rem;
    margin: 0 auto 2rem auto;
    overflow-x: none;
}

@media (max-width: 1363px) {
    .you-may-like-wrapper {
        display: none;
    }
}

.inner-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid lightgrey;
    box-shadow: 0 1px 6px 0 hsla(0, 0%, 0%, 0.3);
    /*background-color: rgb(240, 240, 240) !important;*/
    background-color: white;
    margin: 0.5rem 2rem 0.5rem 2rem;
    padding: 1rem 5% 1rem 5%;
    border-radius: 0.5rem;
    max-height: 21rem;
    overflow: none;
}

.header {
    width: 100%;
    margin-left: 2rem;
}

.header h3 {
    border-left: 3px solid #0193b7;
    color: rgb(65, 65, 65);
    padding: 0 0 0 10px;
    letter-spacing: 0.1rem;
    font-weight: 600;
    margin-top: 1rem;
}