<div class="nav-wrapper">
    <div class="navContainer">
        <div class="nav-bar-element">
            <div class="headerLogo">
                <a [routerLink]="['/home']"><img class="navLogo" src="https://firebasestorage.googleapis.com/v0/b/gta-digital-web-app.appspot.com/o/main-content%2FgtaDigital-Header.jpg?alt=media&token=d98d203a-8472-441b-85b0-4729311b2909"></a>
            </div>
            <div class="navbar">
                <ul>
                    <li class="navItem" *ngFor="let navItem of navItems">
                        <nav-items [navItem]="navItem"></nav-items>
                    </li>
                </ul>
            </div>
            <div class="socialMediaIcons">
                <ul>
                    <li *ngFor="let socialMediaLink of socialMediaLinks"><a [href]="socialMediaLink.url" target="blank"><img [src]="socialMediaLink.image" [alt]="socialMediaLink.alt"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div class="under-construction" *ngIf="underConstruction?.text">{{ underConstruction.text }}</div>
    </div>
</div>