<div class="nav-wrapper">
    <div class="navContainer">
        <div class="nav-bar-element">
            <div class="headerLogo">
                <a [routerLink]="['/home']"><img class="navLogo" src="./assets/images/small-images/gtaDigital-Header.jpg"></a>
            </div>
            <div class="navbar">
                <ul>
                    <li><a [routerLink]="['home']" routerLinkActive="active">Home</a></li>
                    <li><a [routerLink]="['about']" routerLinkActive="active">About</a></li>
                    <li><a [routerLink]="['music']" routerLinkActive="active">Music</a></li>
                    <li><a href="#" routerLinkActive="active">Merch</a></li>
                    <li><a href="#" routerLinkActive="active">Contact</a></li>
                </ul>
            </div>
            <div class="socialMediaIcons">
                <ul>
                    <li><a href="https://facebook.com/gtadigital" target="blank"><img src="./assets/images/small-images/icons/facebookIcon.png" alt="Facebook"></a></li>
                    <li><a href="https://twitter.com/gta_digital" target="blank"><img src="./assets/images/small-images/icons/twitterIcon.png" alt="Twitter"></a></li>
                    <li><a href="https://www.instagram.com/gtadigital_techno" target="blank"><img src="./assets/images/small-images/icons/instagramIcon.png" alt="Instagram"></a></li>
                    <li><a href="https://www.youtube.com/channel/UCi7G9ij_Hm7UBEuZjCRUmAw" target="blank"><img src="./assets/images/small-images/icons/youtubeIcon.png" alt="YouTube"></a></li>
                    <li><a href="https://soundcloud.com/gtadigital" target="blank"><img src="./assets/images/small-images/icons/soundcloudIcon.png" alt="SoundCloud"></a></li>
                    <li><a href="https://hearthis.at/gtadigital-podcast-series/" target="blank"><img src="./assets/images/small-images/icons/hearthisIcon.png" alt="Hearthis"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>