.nav-wrapper {
    width: 100% !important;
    background-color: #0193B7 !important;
    position: fixed;
    top: 0;
    padding: 0.7rem 0 0.6rem 0;
    z-index: 1;
}

.navContainer {
    max-width: 1440px;
    background-color: #0193B7;
    margin-left: auto;
    margin-right: auto;

}

.nav-bar-element {
    width: 97%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    overflow: hidden;
    background-color: #0193B7;
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 0;
    margin-left: 8rem; 
    text-align: center;

}

@media (max-width: 849px) {
    .navContainer {
        display: none;
    }
}

.nav {
    font-size: 1.6rem;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-bottom: 0;
    padding: 0 1.6rem;
    display: inline-block;
}

.nav a:hover {
    cursor: pointer;
}

.nav a::after {
    content: '';
    width: 0rem;
    height: 0.2rem;
    display: block;
    background-color: white;
    transition: 300ms;
}

.nav a:hover:after {
    width: 100%;
}

.navbar ul {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    padding: 0;
}

.navItem {
    list-style-type: none;
    display: inline;
}

.navbar li {
    list-style-type: none;
    display: inline;
}

.active {
    font-weight: 700;
}

.socialMediaIcons ul {
    text-align: right;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

.socialMediaIcons li {
    list-style-type: none;
    display: inline;
}

.socialMediaIcons img {
    height: 3.5rem;
    padding: 0.8rem;
    opacity: 1;
    transition: opacity 0.2s ease;
    box-sizing: border-box !important;
}

.socialMediaIcons img:hover {
    opacity: 0.8;
}

.navLogo {
    height: 5.5rem;
    cursor: pointer;
}

.under-construction {
    color: white;
    background-color: #B72501;
    font-weight: 500;
    font-size: 1.6rem;
    text-align: center;
    padding: 0.5rem 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}