.mainPageHeader {
    max-width: 1440px;
    margin: 0px 1.25% 0px 20px;
    background-image: url(../../../assets/images/homebanner2.jpg);
    height: 250px;
    position: relative;
    z-index: -1;
}

@media (max-width: 1110px) {
    .mainPageHeader {
        max-width: 96%;
        margin: 0px 1.25% 0px 1.25%;
    }
}

@media (max-width: 801px) {
    .mainPageHeader {
        display: none;
    }
}

.mainPageHeader-text {
    bottom: 0;
    left: 0;
    position: absolute;
}

h2 {
    color: white;
    padding-left: 10px;
    font-size: 30px;
}
