<div class="pageHeroWrapper">
    <div class="heroContainer" @heroAnim>
        <div class="heroText">
            <h1>{{ podcastContent.heroHeader }}</h1>
            <p>{{ podcastContent.heroText }}</p>

            <span class="listenNow-button" *ngFor="let podcast of podcasts | reverse | slice:0:1; let i=index"
                [routerLink]="['/music/podcasts/podcast', podcast.id]">{{ podcastContent.heroButton }}</span>

        </div>

        <div class="heroLogo" *ngFor="let podcast of podcasts | reverse | slice:0:1; let i=index">
            <img [src]="podcast.artwork" alt="Podcast Cover Image"
                style="box-shadow: 0 5px 6px 0 hsla(0, 0%, 0%, 0.3); cursor: pointer;"
                [routerLink]="['/music/podcasts/podcast', podcast.id]">
        </div>
    </div>
</div>

<div class="componentContainer">

    <div class="componentContent">

        <podcasts-list></podcasts-list>

    </div>

</div>