<div class="list-wrapper">

    <div class="listContainer">

        <div class="loading" *ngIf="isFetching"></div>
        <div class="alert" *ngIf="error">
            <h1 class="error-header">An Error Occured</h1>
            <p class="error-text">An error occured when trying to load this module, please refresh or try again later.<br>HTTP response status code: {{ error }}</p>
        </div>

        <div class="cardElement" *ngFor="let release of releases | reverse | slice:0:4">
            <release-list-thumbnail [release]="release"></release-list-thumbnail>
        </div>
        
    </div>
    
    <span class="viewAll-button" (click)="viewReleases()" [innerHTML]="musicContent.button1"></span>
    
</div>

