<!--COMPONENT USED IN MUSIC-MAIN COMPONENT-->
<!--THREE MOST RECENT RELEASES ADDED HERE-->

<div class="wrapper">

    <div class="releaseListContainer">

        <div class="releaseCardElement" (click)="goToGTA19()">
            <img class="artwork" src="./assets/images/card-images/release-artwork/gta019.jpg">
            <h3 class="cardHeader">Unix EP</h3>
            <div class="releaseDetails">
                <p class="catNo">[GTA019]</p>
                <h3 class="title">Unix EP</h3>
                <p class="artistName">Gary The Apprentice - feat DJ Ze MigL</p>
            </div>
        </div>

        <div class="releaseCardElement" (click)="goToGTA18()">
            <img class="artwork" src="./assets/images/card-images/release-artwork/gta018.jpg">
            <h3 class="cardHeader">What Have We Become</h3>
            <div class="releaseDetails">
                <p class="catNo">[GTA018]</p>
                <h3 class="title">What Have We Become</h3>
                <p class="artistName">Gary The Apprentice - feat Vincent de With &amp; Car-D</p>
            </div>
        </div>

        <div class="releaseCardElement">
            <img class="artwork" src="./assets/images/card-images/release-artwork/gta017.jpg">
            <h3 class="cardHeader">Longitudinal Axis EP</h3>
            <div class="releaseDetails">
                <p class="catNo">[GTA017]</p>
                <h3 class="title">Longitudinal Axis EP</h3>
                <p class="artistName">Twistedbrain74</p>
            </div>
        </div>

    </div>
    <span><button type="button" class="viewAll-button" (click)="viewReleases()">View All Releases</button></span>
</div>

