<!--COMPONENT USED IN MUSIC-MAIN COMPONENT-->
<!--THREE MOST RECENT RELEASES ADDED HERE-->

<div class="release-list-tile-wrapper">

    <div class="releaseListContainer">

        <div class="releaseCardElement" *ngFor="let release of releases | slice:0:4; let i=index">
            <release-list-thumbnail [release]="release"></release-list-thumbnail>
        </div>
        
    <span><button type="button" class="viewAll-button" (click)="viewReleases()">View All Releases</button></span>
</div>

