.release-list-tile-wrapper {
    background-color: rgb(240, 240, 240) !important;
    padding: 1rem 2rem 5rem 2rem;
}

@media (max-width: 1110px) {
    .release-list-tile-wrapper {
        padding: 0px 0 10px 0;
    }
}

.releaseListContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

@media (max-width: 1110px) {
    .releaseListContainer {
        justify-content: space-between;
    }
}

.releaseCardElement {
    flex-basis: 24%;
    box-shadow: 0 1px 6px 0 hsla(0, 0%, 0%, 0.3);
    text-align: center;
    background-color: white;
    transition: background-color 0.2s ease;
    margin: 0 1% 1% 0;
}

.releaseCardElement:hover {
    background-color: #0193b728;
    cursor: pointer;
}

@media (max-width: 1110px) {
    .releaseCardElement {
        flex-basis: 47%;
        margin: 10px;
    }
}

@media (max-width: 801px) {
    .releaseCardElement {
        flex-basis: 100%;
        margin-bottom: 10px;
    }
}