.bottom-nav-wrapper {
    width: 100%;
    background-color: #0193B7;
    bottom: 0;
    position: fixed;
}

@media (min-width: 801px) {
    .bottom-nav-wrapper {
        display: none;
    }
}

.navLinks {
    width: 50%;
    display: inline-block;
    text-align: center;
}

.left {
    color: white;
    background-color: #005f77;
    border: none;
    font-size: 1.5rem;
    padding: 1rem 2rem 1rem 2.1rem;
    margin: 1.4rem 0 1rem 0;
    text-align: center;
    cursor: pointer;
    border-radius: 2rem;
    max-width: 10.2rem;
    
}

.right {
    color: white;
    background-color: #005f77;
    border: none;
    font-size: 1.5rem;
    padding: 1rem 2rem 1rem 2.1rem;
    margin: 1.4rem 0 1rem 0;
    text-align: center;
    cursor: pointer;
    border-radius: 2rem;
    min-width: 10.2rem;
    
}

.left:active {
    outline: 0;
}

.right:active {
    outline: 0;
}

.left:focus{
    outline: 0;
}

.right:focus {
    outline: 0;
}