/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

.hoverwell:hover {
    cursor: pointer;
  }
  
  .wrapper {
    padding-top: 0;
    margin: auto;
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
    box-sizing: unset;
  }

  @media (max-width: 801px) {
    .wrapper {
      max-width: 100%;
      overflow-x: hidden !important;
    }
  }
  
  .pointable {
    cursor: pointer;
  }
  
  button {
    color: #555;
  }
  
  [hidden] {
    display: none !important;
  }
  
  .toast-success {
    background-color: #51a351;
  }
  .toast-error {
    background-color: #bd362f;
  }
  .toast-info {
    background-color: #2f96b4;
  }
  .toast-warning {
    background-color: #f89406;
  }
  
body { 
  margin: 0; 
  font-family: 'Titillium Web', sans-serif; 
  color: rgb(65, 65, 65);
  background-color: rgb(240, 240, 240);
  overflow-y: scroll;
}

@media (max-width:801px) {
  body {
    overflow-x: hidden !important;
  }
}

.pageContent {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
  color: rgb(65, 65, 65);
  margin: 0;
}

h2 {
  font-family: 'Titillium Web', sans-serif;
  color: rgb(65, 65, 65);
  margin: 0;
}

.pageSpan {
  width: 100%;
}

.pageElement {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1110px) {
  .pageElement {
    width: 100%;
  }
}

.viewAll-button {
  padding: 0 0 0 10px;
  border-left: 3px solid #B72501;
  color: rgb(65, 65, 65);
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: 540;
  cursor: pointer;
  transition: background-color 0.2s ease;
  outline: none;
  transition: box-shadow 0.2s ease;
  letter-spacing: 2px;
}

.buyNow {
  padding: 5px;
  margin-left: 5px;
  background-color: #0193b7;
  box-shadow: 0 3px 6px 0 hsla(0, 0%, 0%, 0.3);
  border: none;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  outline: none;
}

.buyNow:hover {
  background-color: #00a1c9;
}

.external-link {
  width: 15px;
}

a:link {
  color: rgb(65, 65, 65);
  text-decoration: none;
}

a:visited {
  color: rgb(65, 65, 65);
  text-decoration: none;
}

a:hover {
  color: rgb(65, 65, 65);
  text-decoration: none;
}

a:active a:focus {
  color: rgb(65, 65, 65);
  text-decoration: none;
  outline: 0;
}