/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

.hoverwell:hover {
    cursor: pointer;
  }
  
  .wrapper {
    padding-top: 0;
    background-color: white !important;
    margin: 0;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
  
  .pointable {
    cursor: pointer;
  }
  
  button {
    color: #555;
  }
  
  [hidden] {
    display: none !important;
  }
  
  .toast-success {
    background-color: #51a351;
  }
  .toast-error {
    background-color: #bd362f;
  }
  .toast-info {
    background-color: #2f96b4;
  }
  .toast-warning {
    background-color: #f89406;
  }
  
body { margin: 0; font-family: 'Titillium Web', sans-serif; overflow-y: scroll;}

.pageContent {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
  color: rgb(65, 65, 65);
  margin: 0;
}

h2 {
  font-family: 'Titillium Web', sans-serif;
  color: rgb(65, 65, 65);
  margin: 0;
}

.pageHeader {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 40px;
}

.pageSpan-grayBG {
  width: 100%;
  background-color: rgb(240, 240, 240) !important;
  padding-bottom: 15px;
  padding-top: 15px;
}

.pageSpan-whiteBG {
  width: 100%;
  background-color: white !important;
  padding-bottom: 15px;
  padding-top: 15px;
}

.pageElement {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.viewAll-button {
  margin: 20px 20px 0px 20px;
  padding: 10px;
  background-color: #0193b7;
  box-shadow: 0 3px 6px 0 hsla(0, 0%, 0%, 0.3);
  border: none;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  outline: none;
}

.viewAll-button:hover {
  background-color: #00a1c9;  
}
