<div class="pageContent">
    <div class="pageHeader">
        <h2>Music</h2>
    </div>
    <div class="pageSpan-grayBG">
        <div class="pageElement">
            <release-list-small></release-list-small>
        </div>
    </div>
    <div class="pageSpan-whiteBG">
        <div class="pageElement">
            <div class="podcastContainer">
                <div class="podcastCover">
                    <img src="assets/images/artwork/podcasts/podcast26.jpg">
                </div>
                <div class="podcastPlayer">
                    <iframe scrolling="no" id="hearthis_at_track_4672202" width="100%" height="130" src="https://app.hearthis.at/embed/4672202/transparent/?hcolor=666666&color=0193b7&style=1&block_size=2&block_space=1&background=0&waveform=0&cover=1&autoplay=0&css=" frameborder="0" allowtransparency allow="autoplay"><p>Listen to <a href="https://hearthis.at/gtadigital-podcast-series/gta-digital-podcast-26-mixed-by-bushby/" target="_blank">GTA Digital Podcast #26, mixed by Bushby</a> <span>by</span><a href="https://hearthis.at/gtadigital-podcast-series/" target="_blank" >GTA Digital - Podcast Series</a> <span>on</span> <a href="https://hearthis.at/" target="_blank">hearthis.at</a></p></iframe>
                    
                    <p class="podcastInfo">The GTA Digital Podcast is back, following this months show on Fnoob Techno Radio, which saw Leeds(UK) based DJ, Bushby, take the reins, laying down an hour of some excellent techno. Starting off with something a bit more breaky, but soon into the straight up bangers.</p>

                </div>
            </div>
            <span><button type="button" class="viewAll-button">View All Podcasts</button></span>
        </div>
    </div>
    <div class="pageSpan-grayBG">
        <div class="pageHeader">
            <div class="headerIcon">
                <img src="../../assets/images/small-images/icons/youtubeIcon.png">
            </div>
            <div class="headerItem">
                <h2>GTA Digital Live Archive</h2>
            </div>
        </div>
        <div class="pageElement">
            <div class="liveStreamContainer">
                <div class="videoItem">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/MwU0oS0LKGs?modestbranding=1;controls=0;showinfo=0;rel=0;fs=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="videoItem">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/4PaRduQyIls?modestbranding=1;controls=0;showinfo=0;rel=0;fs=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="videoItem">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/jHSndN1TfVc?modestbranding=1;controls=0;showinfo=0;rel=0;fs=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="videoItem">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/SyklycdUPsw?modestbranding=1;controls=0;showinfo=0;rel=0;fs=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>