.podcastContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.podcastCover {
    flex-basis: 20%;
    display: block;
    height: 300px;
}

.podcastCover img {
    width: 300px;
}

.podcastPlayer {
    flex-basis: 73%;
    padding-left: 10px;
}

.podcastInfo {
    margin-top: 0;
}

h3 {
    margin-left: 20px;
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.pageHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.headerIcon {
    margin-right: 10px;
}

.headerIcon img {
    height: 40px;
}

.liveStreamContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between !important;
    text-align: center;
}

.videoItem {
    flex-basis: 46%;
    margin-left: 20px;
    margin-right: 20px;;
}