<div class="pageContent">
    <div class="pageHeader">
        <h2>Music</h2>
    </div>
    <div class="pageSpan-grayBG">
        <div class="pageElement">
            <release-list-small></release-list-small>
        </div>
    </div>
    <div class="pageSpan-whiteBG">
        <div class="pageElement">
            <div class="podcastContainer">
                <div class="podcastCover">
                    <img src="assets/images/artwork/podcasts/podcast26.jpg">
                </div>
                <div class="podcastPlayer">
                    <iframe scrolling="no" id="hearthis_at_track_4672202" width="100%" height="150" src="https://app.hearthis.at/embed/4672202/transparent/?hcolor=666666&color=0193b7&style=1&block_size=2&block_space=1&background=0&waveform=0&cover=1&autoplay=0&css=" frameborder="0" allowtransparency allow="autoplay"><p>Listen to <a href="https://hearthis.at/gtadigital-podcast-series/gta-digital-podcast-26-mixed-by-bushby/" target="_blank">GTA Digital Podcast #26, mixed by Bushby</a> <span>by</span><a href="https://hearthis.at/gtadigital-podcast-series/" target="_blank" >GTA Digital - Podcast Series</a> <span>on</span> <a href="https://hearthis.at/" target="_blank">hearthis.at</a></p></iframe>
                </div>
            </div>
            <span><button type="button" class="viewAll-button">View All Podcasts</button></span>
        </div>
    </div>
    <div class="pageSpan-grayBG">
        <div class="pageElement">
            <h3>Youtube Live Stream Here</h3>
        </div>
    </div>
</div>