<div class="pageContent">
    <div class="pageSpan-whiteBG">
        <div class="pageElement">
            <div class="releaseDetailsWrapper">
                <div class="image">
                    <img class="artwork" src="assets/images/artwork/releases/gta001.jpg">
                </div>
                <div class="text">
                    <h3>GTA001 Recharged EP</h3>
                    <p class="releaseDate">Released 26 March 2013 <a href="https://gtadigital.bandcamp.com/album/gta001-recharged-ep" target="blank"><button type="button" class="buyNow">Buy Now</button></a></p>
                    <p>The very first release on GTA Digital. For this EP Gary has put together a 3 track EP of some straight up, banging techno.</p>

                    <p>Download the full EP for FREE, by clicking the "Buy now" tab and enter 0.00 in the amount box, or more if you would like to leave a donation!</p>
                        <mat-advanced-audio-player [playlist]="msaapPlaylist" [displayTitle]="msaapDisplayTitle" 
                        [displayPlaylist]="msaapDisplayPlayList" [pageSizeOptions]="msaapPageSizeOptions" 
                        [displayVolumeControls]="msaapDisplayVolumeControls" [expanded]="true"></mat-advanced-audio-player>
                </div>
            </div>
            <div class="youMayLike">
                <you-may-like></you-may-like>
            </div>
        </div>
    </div>
</div>
