.podcast-list-tile-wrapper {
    background-color: rgb(240, 240, 240) !important;
    padding: 0 20px 10px 20px;
}

.podcastListContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.podcastCard {
    flex-basis: 24%;
    box-shadow: 0 5px 6px 0 hsla(0, 0%, 0%, 0.3);
    text-align: center;
    background-color: white;
    transition: background-color 0.2s ease;
    margin-bottom: 15px;
}

.podcastCard:hover {
    background-color: #0193b728;
    cursor: pointer;
}