.podcastContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.podcastCover {
    flex-basis: 20%;
    display: block;
    height: 300px;
}

.podcastCover img {
    width: 300px;
}

.podcastPlayer {
    flex-basis: 73%;
    padding-left: 10px;
}

.podcastInfo {
    margin-top: 0;
}