.podcast-list-tile-wrapper {
    background-color: rgb(240, 240, 240) !important;
    padding: 0 0.25% 50px 20px;
}

@media (max-width: 1110px) {
    .podcast-list-tile-wrapper {
        padding: 0px 0 10px 0;
    }
}

.podcastListContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

@media (max-width: 1110px) {
    .podcastListContainer {
        justify-content: space-between;
    }
}

.podcastCardElement {
    flex-basis: 24%;
    box-shadow: 0 1px 6px 0 hsla(0, 0%, 0%, 0.3);
    text-align: center;
    background-color: white;
    transition: background-color 0.2s ease;
    margin: 0 1% 1% 0;
}

.podcastCardElement:hover {
    background-color: #0193b728;
    cursor: pointer;
}

@media (max-width: 1110px) {
    .podcastCardElement {
        flex-basis: 47%;
        margin: 10px;
    }
}

@media (max-width: 801px) {
    .podcastCardElement {
        flex-basis: 100%;
        margin-bottom: 10px;
    }
}