.latestNewsImg {
    width: 100%;
    display: block;
}

.cardHeader {
    margin-top: 0 !important;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    font-weight: 500;
    background-color: #0193b7;
    text-align: left;
    padding-left: 10px;
}

.latest-news-details p {
    text-align: left !important;
    padding: 10px;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 28px;
    letter-spacing: 0.5px;
}

.internalUrl {
    padding: 0px 0 10px 10px !important;
}

.internalUrl a {
    color: #B72501;
    display: inline-block;
    padding-top: 0px !important;
    height: 15px;
    cursor: pointer !important;
    letter-spacing: 2px;
}